<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4 text-center">About Us</h1>
      
      <div class="card card-container">
        <div class="card-body">
          <h2 class="card-title">Welcome to our Business Information Platform!</h2>
          <p class="card-text">
            Our mission is to provide a comprehensive directory of businesses, offering detailed information to help you make informed decisions. Whether you're searching for local service providers or global enterprises, our user-friendly platform makes it easy to find and connect with businesses that meet your needs.
          </p>
          <p class="card-text">
            Our platform is designed with simplicity and efficiency in mind. We gather and present essential business information, including contact details, categories, and profiles, to ensure you have everything you need at your fingertips. We believe in the power of connections and aim to bridge the gap between businesses and consumers.
          </p>
          <p class="card-text">
            Join us on our journey to create a more connected and informed business community. Our team is dedicated to continuously improving and expanding our platform to better serve you. Thank you for choosing us as your trusted source for business information.
          </p>
        </div>
      </div>
      
      <div class="card card-container">
        <div class="card-body">
          <h2 class="card-title">Our Vision</h2>
          <p class="card-text">
            Our vision is to become the go-to resource for business information globally. We strive to empower consumers and businesses alike by providing accurate, up-to-date information and fostering meaningful connections. We are committed to transparency, reliability, and excellence in all that we do.
          </p>
        </div>
      </div>
      
      <div class="card card-container">
        <div class="card-body">
          <h2 class="card-title">Our Team</h2>
          <p class="card-text">
            Our team is composed of passionate professionals with expertise in technology, business, and customer service. We work tirelessly to ensure our platform remains user-friendly and up-to-date with the latest business information. We value feedback from our users and are always looking for ways to enhance the user experience.
          </p>
        </div>
      </div>
      
      <div class="card card-container">
        <div class="card-body">
          <h2 class="card-title">Contact Us</h2>
          <p class="card-text">
            Have questions or need assistance? Feel free to reach out to our support team. We are here to help you navigate our platform and make the most of the resources available.
          </p>
          <a href="mailto:support@example.com" routerLink="/contactus" class="btn-getstarted contact-us-btn btn-sm">Contact Us</a>
        </div>
      </div>
      
    </div>
  </div>
</div>