<div class="container-fluid mt-3">
    <div class="row align-items-center mb-2">
      <div class="col-4">
        <div class="search-box">
          <!-- <input type="text" class="form-control" placeholder="Search by Business Name, Category or City" [(ngModel)]="searchTerm" (input)="searchByBusinessNameAndCategory()"> -->
        </div>
      </div>
  
      <div class="col-3 ms-auto">
        <div class="sort-dropdown">
          <!-- <select class="form-select" (change)="onSortChange($event)">
            <option value="" selected disabled>Sort by</option>
            <option value="businessName">Business Name</option>
            <option value="businessCategory">Category</option>
            <option value="city">City</option>
            <option value="state">State</option>
          </select> -->
          <!-- <ng-select class="sort-class" [placeholder]="'Sort by'" [(ngModel)]="selectedSort" (change)="onSortChange()" [clearable]="false">
            <ng-option class="options" *ngFor="let sort of sorts" [value]="sort.value">{{sort.sortBy}}</ng-option>
          </ng-select> -->
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="table-container table-responsive border mb-3">
          <table class="table table-bordered table-striped">
            <caption class="table-caption">Contacted List</caption>
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last name</th>
                <!-- <th>GSTIN Number</th> -->
                <th>Email Address</th>
                <th>Message</th> 
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of paginatedItems;">
                <td>{{ data.firstName }}</td>
                <td>{{ data.lirstName }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.message }}</td>
                <td>{{ data.description }}</td>
              </tr>
              <tr *ngIf="paginatedItems.length === 0"><td colspan="9" class="text-center">
                <h2 class="no-data-found">No data Found</h2>
              </td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <app-pagination 
      [totalItems]="filterQueries.length" 
      [itemsPerPage]="itemsPerPage" 
      [currentPage]="currentPage" 
      (pageChanged)="onPageChange($event)">
  </app-pagination>
  

