<div class="modal fade show" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Business Data Details</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>Business Name:</strong> {{ businessData.businessName }}
              </div>
              <div class="col-md-6">
                <strong>Category:</strong> {{ businessData.businessCategoryName }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>GSTIN:</strong> {{ businessData.email }}
              </div>
              <div class="col-md-6">
                <strong>Email:</strong> {{ businessData.email }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>Mobile Number:</strong> {{ businessData.mobileNumber }}
              </div>
              <div class="col-md-6">
                <strong>Website:</strong> {{ businessData.website }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>Address Line 1:</strong> {{ businessData.addressDTO.addressLine1 }}
              </div>
              <div class="col-md-6">
                <strong>Address Line 2:</strong> {{ businessData.addressDTO.addressLine2 }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>State:</strong> {{ businessData.addressDTO.state }}
              </div>
              <div class="col-md-6">
                <strong>City:</strong> {{ businessData.addressDTO.city }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>ZIP Code:</strong> {{ businessData.addressDTO.zipCode }}
              </div>
              <div class="col-md-6">
                <strong>Country:</strong> {{ businessData.addressDTO.country }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <strong>Contact Person:</strong> {{ businessData.contactPersonName }}
              </div>
              <div class="col-md-6">
                <strong>Position:</strong> {{ businessData.contactPersonPosition }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <strong>Business Details:</strong> {{ businessData.businessDetails }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
  