<div class="container-fluid mt-3">
  <div class="row align-items-center mb-2">
    <div class="col-3">
      <div class="search-box d-flex align-items-center mt-4">
        <span class="me-2 mt-1"><h6>City:</h6></span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter City Here"
          [(ngModel)]="city"
          (input)="searchByBusinessNameAndCategory()"
        />
      </div>
    </div>

      
    <div class="col-2">
        <div class="d-flex align-items-center">
          <span class="me-2 mt-1"><h6>Category:</h6></span>
          <ng-select
            class="sort-class"
            placeholder="'Select The Category'"
            [(ngModel)]="categoryId"
            [clearable]="false"
            (change)="onChangeInCategory()"
          >
            <ng-option
              class="options"
              *ngFor="let sort of sorts"
              [value]="sort.value"
            >{{ sort.sortBy }}</ng-option>
          </ng-select>
        </div>
      </div>
      

  <div class="row">
    <div class="col-lg-12">
      <div class="table-container table-responsive border mb-3">
        <table class="table table-bordered table-striped">
          <caption class="table-caption">
            List of Businesses per city per category
          </caption>
          <thead>
            <tr>
              <th>Business Name</th>
              <th>Category</th>
              <!-- <th>GSTIN Number</th> -->
              <th>Email Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Website</th>
              @if(commonService.isAuthenticated()){
              <th>Profile Score</th>
              } @if(role === "BusinessAdmin"){
              <th>SponserShip</th>
              }
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of paginatedItems">
              <td>{{ data.businessName }}</td>
              <td>{{ data.businessCategoryName }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.addressDTO.city }}</td>
              <td>{{ data.addressDTO.state }}</td>
              <td>{{ data.addressDTO.zipCode }}</td>
              <td>
                <a [href]="formatUrl(data.website)" target="_blank">
                  {{ data.website }}
                </a>
              </td>
              @if(commonService.isAuthenticated()){
              <td>{{ data.profileScore }} % Completed</td>
              }

              <td></td>
            </tr>
            <tr *ngIf="paginatedItems.length === 0"><td colspan="9" class="text-center">
                <h2 class="no-data-found">No data Found</h2>
              </td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-pagination
  [totalItems]="filteredbusinessData.length"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChanged)="onPageChange($event)"
>
</app-pagination>
